<% messages.in_groups_of(4, false).each do |group| %>
  <div class='row'>
    <% group.each do |message| %>
    
      <div class='col-md-3'>
        <%= image_tag(message.picture.url, class: "img-responsive") %>
	        <div class="caption">
	        	<% if message.author != nil %>
							<%= gravatar_for message.author, size: 50, :class => "img-gravatar" %>
							<%= link_to message.author.username, message, :class => "img-name" %>
					
				 	  <% end %>
	       </div>
      </div>
      
    <% end %>
  </div>
<% end %>

	



