var delimiter =
        $('<div class="page-delimiter" data-page="<%= params[:page] %>"></div>');
$('#my-posts').append(delimiter);
$('#my-posts').append('<%= j render @messages %>');
$('.pagination').replaceWith('<%= j will_paginate @messages %>');
preparePagination(delimiter);
<% if @messages.next_page %>
$('#with-button .pagination').hide();
<% else %>
$('#with-button .pagination, #load_more_posts').remove();
<% end %>