<% provide(:title, @title) %>
<h1><%= @title %></h1>
<% if @the_message then %>
	<%= render 'form' %>
<% end %>
<div id="messages">
	<%= render 'list', :messages => @messages %>
	
</div>
<%= will_paginate @messages %>
