<% provide(:title, @message.author.username + 's Message') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Contents:</strong>
  <%= @message.contents %>
</p>
<p>
	<%= @message.author.email %>
</p>

<%= link_to 'Back', messages_path %>
