<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to image_tag(@user.avatar_url, alt: @user.name, class: "media-object"),
              @user.profile_url, target: '_blank', class: 'pull-left' %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.comments.any? %>
      <h3>Comments (<%= @user.comments.count %>)</h3>
      <ol class="microposts">
        <%= render @comments %>
      </ol>
    <% end %>
  </div>
</div>