// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'bootstrap/theme';

.social {
  margin-top:30px;
}

#comments {
  max-height: 500px;
  overflow: auto;
}

/* 
input[type="submit"]
{
  background:url(mybutton.png);
}
*/